.titulo { position:relative; padding-bottom:10px; }

.titulo::after {
    content: "";
     width: 100%;
     height: .2em;
     
     background: red;
     
     position: absolute;
     bottom: -2px;
     left: 0;
}